/***BASE STYLES***/
body {
  font-family: montserrat, sans-serif;
}

p {
  font-family: montserrat;
  font-size: 16pt;
}

/***GRID***/
.full-width {
  width: 1200px;
  margin: 0 auto;
  overflow: auto;
}

.half-width {
  width: 600px;
  /* width: auto; */
  overflow: auto;
  float: left;
}

.third-width {
  width: 400px;
  overflow: auto;
  float: left;
}

/***HEADER***/
h1 {
  font-size: 30px;
  line-height: 23px;
  /* padding: 57px 0 57px 24px; */
  padding: 57px 0;
}

h1 span {
  color: #77a466;
}

nav {
  float: right;
  padding: 64px 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 23px;
  color: #77a466;
  padding-left: 24px;
}

/***TOP SECTION***/
#top img {
  background-color: #77a466;
  padding: 3px 0;
}

h2 {
  font-size: 18px;
  line-height: 23px;
  color: #77a466;
}

#top p {
  line-height: 25pt;
}

/***BOTTOM SECTION***/

/***FOOTER***/