/***BASE STYLES***/
body {
  font-family: montserrat, sans-serif;
}

p {
  /* font-family: montserrat; */
  font-size: 16px;
}

/***GRID***/
.full-width {
  width: 1200px;
  margin: 0 auto;
  overflow: auto;
}

.half-width {
  width: 600px;
  /* width: auto; */
  overflow: auto;
  float: left;
}

.third-width {
  width: 400px;
  overflow: auto;
  float: left;
  box-sizing: border-box;
}

/***HEADER***/
h1 {
  font-size: 30px;
  line-height: 23px;
  /* padding: 57px 0 57px 24px; */
  padding: 57px 0;
}

h1 span {
  color: #77a466;
}

nav {
  float: right;
  padding: 64px 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 23px;
  color: #77a466;
  padding-left: 24px;
}

/***TOP SECTION***/
#top img {
  background-color: #77a466;
  padding: 3px 0;
}

h2 {
  font-size: 18px;
  line-height: 23px;
  color: #77a466;
}

#top p {
  line-height: 25px;
}

/***BOTTOM SECTION***/
#bottom .full-width{
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
}

h3 {
  font-size: 12px;
  line-height: 25px;
}

#sec-one p {
  line-height: 18px;
  color:#77a466;
}

#sec-two {
  /* width: 338px; */
  border-left: solid 1px lightgray;
  border-right: solid 1px lightgray;
  padding: 0px 30px;
}

#sec-two p {
  line-height: 21px;
}

#sec-three p {
  line-height: 24px;
}

/***FOOTER***/
footer p {
  font-weight: bold;
  line-height: 23px;
  text-align: center;
}

footer span {
  font-family: 'Galada';
  font-weight: normal;
  color:#77a466;
}