/***BASE STYLES***/
body {
  font-family: montserrat, sans-serif;
}

p {
  font-family: montserrat;
}

/***GRID***/
.full-width {
  width: 1200px;
  margin: 0 auto;
  overflow: auto;
}

.half-width {
  width: 600px;
  overflow: auto;
  float: left;
}

.third-width {
  width: 400px;
  overflow: auto;
  float: left;
}

/***HEADER***/
h1 {
  font-size: 30px;
  line-height: 23px;
  padding: 57px 0 57px 24px;
}

h1 span {
  color: #77a466;
}

/***TOP SECTION***/

/***BOTTOM SECTION***/

/***FOOTER***/